body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:40px;
  width:800px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:40px;
  width:800px;
  height:440px;
  opacity:0.300000011920929;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:440px;
}
#u3 {
  position:absolute;
  left:2px;
  top:212px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:124px;
  top:225px;
  width:193px;
  height:45px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-weight:650;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:136px;
  top:276px;
  width:193px;
  height:33px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-weight:650;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:68px;
  top:320px;
  width:330px;
  height:25px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:99px;
  top:273px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:539px;
  top:225px;
  width:181px;
  height:42px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:564px;
  top:272px;
  width:32px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:602px;
  top:273px;
  width:97px;
  height:33px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-weight:650;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:496px;
  top:320px;
  width:300px;
  height:25px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:370px;
  top:30px;
  width:121px;
  height:162px;
  -webkit-transform:rotate(272deg);
  -moz-transform:rotate(272deg);
  -ms-transform:rotate(272deg);
  transform:rotate(272deg);
  opacity:0.800000011920929;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:162px;
}
#u21 {
  position:absolute;
  left:2px;
  top:73px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:361px;
  top:99px;
  width:45px;
  height:16px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CC6633;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:462px;
  top:94px;
  width:33px;
  height:1px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000066;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:417px;
  top:69px;
  width:30px;
  height:18px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:415px;
  top:130px;
  width:31px;
  height:24px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:347px;
  top:80px;
  width:60px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:407px;
  top:53px;
  width:45px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:454px;
  top:78px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:406px;
  top:117px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
