body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:40px;
  width:800px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:40px;
  width:800px;
  height:440px;
  opacity:0.300000011920929;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:440px;
}
#u3 {
  position:absolute;
  left:2px;
  top:212px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:139px;
  width:145px;
  height:67px;
  opacity:0.800000011920929;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#000066;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:67px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:124px;
  top:208px;
  width:118px;
  height:42px;
  opacity:0.699999988079071;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000066;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:42px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:270px;
  top:183px;
  width:300px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:326px;
  top:141px;
  width:300px;
  height:252px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:252px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:285px;
  top:141px;
  width:23px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:284px;
  top:199px;
  width:26px;
  height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:286px;
  top:256px;
  width:21px;
  height:23px;
  opacity:0.899999976158142;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:284px;
  top:310px;
  width:23px;
  height:23px;
  opacity:0.800000011920929;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:284px;
  top:370px;
  width:23px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:690px;
  top:55px;
  width:127px;
  height:144px;
  opacity:0.800000011920929;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:144px;
}
#u23 {
  position:absolute;
  left:2px;
  top:64px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:741px;
  top:75px;
  width:32px;
  height:18px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CC6633;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:774px;
  top:117px;
  width:30px;
  height:18px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:749px;
  top:160px;
  width:33px;
  height:18px;
  font-family:'ArialRoundedMTBold', 'Arial Rounded MT Bold';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000066;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:704px;
  top:116px;
  width:31px;
  height:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:694px;
  top:103px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:728px;
  top:55px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:764px;
  top:105px;
  width:50px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:740px;
  top:149px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
